{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">            
            {% for user in user_list %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.counter == 1 %} active {% endif %}" href="#user-{{user.id}}-tab" role="tab" aria-controls="user-{{user.id}}-tab" >{{ user.name }}</a>
            </li>
            {% endfor%}            
          </ul>
        </div>
        <div class="card-body">
          <h4 class="card-title">Задачи пользователя</h4>
          <h6 class="card-subtitle mb-2">Кнопками можно производить действия над задачами для пользователя</h6>
          
           <div class="tab-content mt-3">
            {% for user in user_list %}
            <div class="tab-pane {% if forloop.counter == 1 %} active {% endif %}" id="user-{{user.id}}-tab" role="tabpanel">
                <div class="table-responsive">  
              <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Действия</th>                  
                      </tr>
                    </thead>
                    <tbody>
                      {% for step in step_list %}
                      <tr>
                        <td scope="row">Задача №{{ step.id }}</td>
                        <td>
                            <button type="button" data-target-id="{{step.id}}" data-id="0" data-user-id="{{user.id}}" class="btn btn-outline-primary action__button">Просмотреть</button>
                            <button type="button" data-target-id="{{step.id}}" data-id="1" data-user-id="{{user.id}}" class="btn btn-outline-primary action__button">Попытка решить</button>
                            <button type="button" data-target-id="{{step.id}}" data-id="2" data-user-id="{{user.id}}" class="btn btn-outline-primary action__button">Решить</button>
                        </td>                  
                      </tr>
                      {% endfor%}
                    </tbody>
                  </table>   
                </div>
            </div>
            {% endfor%} 
                       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form action="/user/create">  
  <button type="submit" class="btn btn-outline-primary">Добавить пользователя</button>
</form>
    
{% endblock %}